/* Global Styling */
body {
    font-size: 16px;
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    background-color: #d4dccd;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Water Brush';
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

/* Header Styling */

header {
    background-color: white;
    height: 100px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

header h1 {
    text-align: left;
    margin: 0;
    padding: 1rem;
}

.nav {
    padding-right: 1rem;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    background-color: #efaac4;
    padding: 1rem;
    border-radius: .25rem;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav li:hover {
    background-color: #6b717e;
    transition: background-color 500ms;
}

@media only screen and (max-width: 800px) {
    .nav {
        display: none;
    }
    header h1 {
        font-size: 3rem;
    }
}

/* Mission Statement Styling */
#mission {
    background-image: url(https://images.unsplash.com/photo-1603326530308-cf8cb7f49649?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
    max-width: 100%;
    height: 500px;
}

.statement {
    background-color: #efaac4;
    opacity: .8;
    position: relative;
    top: 280px;
    left: 20px;
    padding: 1rem;
    text-align: center;
    width: 90%;
}

.statement h2 {
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    .statement h2 {
        font-size: 1.25rem;
    }
    .statement {
        padding: 1rem;
    }
}

/* Services Styling */

.servicetext {
    display: block;
    padding-bottom: .5rem;
    justify-items: center;
}

.types p {
    color: white;
    font-weight: 100;
    text-align: center;
}

.servicetext h2 {
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 1rem;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
}

.types h3 {
    font-weight: bold;
    color: #ffc4d1;
    text-align: center;
}

.service {
    min-height: 180px;
    width: 200px;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service p {
    color: black;
    background-color: #efaac4;
    opacity: .8;
}
#service1 {
    background-image: url(https://images.unsplash.com/photo-1551524163-d00af9f12253?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);
    background-position: center;
    background-size: cover;
}

#service2 {
    background-image: url(https://images.unsplash.com/photo-1650484544551-d2424ebb00e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=719&q=80);
    background-position: center;
    background-size: cover;
}

#service3 {
    background-image: url(https://images.unsplash.com/photo-1650054601605-8a23f8193344?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }
    .types {
        padding: 1rem;
    }
}

/* Teammates Styling */

#team {
    background-color: #6b717e;
    justify-content: center;
    text-align: center;
}

.ourteam {
    display: block;
    padding-top: 1rem;
    padding-bottom: .5rem;
    justify-items: center;
}

.teammates {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.teammates .cat {
    max-width: 250px;
}

.teammates img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 9px solid #ffc4d1;
}

.teammates p {
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .teammates {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

/* Footer Styling */
footer {
    padding: 1rem;
}
